{% extends "basegallery.html" %}
{% block body %}
<script src="/static/js/projectgallery.js" type="text/javascript"></script>
<script language="JavaScript" src="/static/js/gen_validatorv2.js" type="text/javascript"></script>
{% include "sidebar.html" %}

<!-- Main Content -->
<div id="container">
  <h1 class="page_title">{{title}}</h1>
<div id="app-info">
<table width="100%">
  <tbody>
    <tr class="app-details">
      <td class="app-details" width="100%">
      <div class="back"><a href="/">«&nbsp;Back to gallery</a></div>
      <h3 class="app-title"  style="margin-top:0.5em">{{app.title|escape}}</h3>
      <p style="color:gray;padding-top:3px">By: 
      {% if app.author_url %}<a href="{{app.author_url}}">{% endif %}{{app.author_name|escape}}{% if app.author_url %}</a> {% endif %}
      {% if app.author_googler %}&nbsp; <img src="http://groups.google.com/groups/img/blue_g.gif" align="absmiddle">{% endif %}
      - {{app.created|date:"M d, Y"}}
      </p>
      <p><a href="{{app.url|escape}}">
       {% if app.screenshot %}
        <img src="/images?img_id={{app.key.id|escape}}&amp;img_type=screenshot" alt="{{app.title|escape}}" class="thumb, largeThumbnail"/>
       {% else %}
       {% if app.thumbnail %}
        <div align="left"><img src="/images?img_id={{app.key.id|escape}}&amp;img_type=thumbnail" class="smallThumbnail"/></div>
       {% else %}
        <div align="left"><img src="/static/img/project_gallery_logo.png"/></div>
       {% endif %}
       {% endif %}
       </a></p>
       <p>{{app.description|escape}}</p> 
       <p>{{app.tech_details}}</p>

         <div align="left">
           <a style="color:#008000 !important;" href="{{app.url|escape}}">Live Demo</a>* |
           <a style="color:#008000 !important;" href="{{app.source_url|escape}}">Source Code</a>
         </div>
        {% if app.robot_email %}
        <p>Robot Address: <a href="{{app.robot_email|escape}}">{{app.robot_email|escape}}</a></p>
        {% endif %}
        {% if app.gadget_xml %}
        <p>Gadget XML: <a href="{{app.gadget_xml|escape}}">{{app.gadget_xml|escape}}</a></p>
        {% endif %}
        <p><b>APIs</b>: {{app.apis|join:", "|escape}}</p>
        <p><b>Languages</b>: {{app.languages|join:", "|escape}}</p>
        <p> Tags:
        {% for t in app.tags %}
        <a href="/results?q={{t|escape}}">{{t|escape}}</a>
        {% endfor %}
        </p>
        {% if can_edit %}
           <div style="color:gray;padding-top:3px" align="left">
           <form action="/delete.do" method="post"><a href="/edit?app_id={{app.key.id|escape}}">Edit</a>&nbsp;&nbsp;|
            <input type="hidden" name="app_id" value="{{app.key.id|escape}}" />
            <button type="submit" value="Delete" style="background-color:white;border:0px;color:#00c;padding:0px;cursor:pointer"><span style="text-decoration: underline !important">Delete</span></button>
           </form>
           </div>
        {% endif %}
        {% if is_admin %}
           <p> Tags:
           {% for t in app.admin_tags %}
           <a href="/results?q={{t|escape}}">{{t|escape}}</a>
           {% endfor %}
           <p>Author E-mail: {{ app.author.email|escape }}</p>
           <div style="color:gray;padding-top:3px" align="left">
           {% ifequal app.moderation_status 1 %}
           <p>Status - APPROVED</p>
           {% endifequal %}
           {% ifequal app.moderation_status 2 %}
           <p>Status - REJECTED</p>
           {% endifequal %}
           {% ifequal app.moderation_status 0 %}
           <p>Status - UNMODERATED</p>
           {% endifequal %}
           <form action="/moderate" method="post">
           <input type="hidden" name="app_id" value="{{app.key.id|escape}}" />
           <input type="hidden" name="moderate_action" value="approve"/>
           <button type="submit" value="Approve" style="background-color:white;border:0px;color:#00c;padding:0px;cursor:pointer"><span style="text-decoration: underline !important">Approve</span></button>
          </form>
            <form action="/moderate" method="post">
            <input type="hidden" name="app_id" value="{{app.key.id|escape}}" />
            <input type="hidden" name="moderate_action" value="reject"/>
            <textarea name="reason" class="input textareaSubmitPage"></textarea>
            <button type="submit" value="Reject" style="background-color:white;border:0px;color:#00c;padding:0px;cursor:pointer"><span style="text-decoration: underline !important">Reject</span></button>
           </form>
           </div>
        {% endif %}
       </td>
     </tr>
   </tbody>
</table>
</div>
{% include "asterisk.html" %}
<!-- Comments -->
<div id="comments">
  <div class="head">
    <p class="pages"></p>
    <p><b>Comments</b>&nbsp;(<span id="num_comments">{{num_comments|escape}}</span>)</p>
  </div>
  <div class="comment" id="write_comment_link">
    {% if user %}
    <span class="linkon" onclick="showWriteCommentsForm();">Write a comment</span>
    {% else %}
    <span><a href="{{url}}">Sign in</a> to write a comment</span>
    {% endif %}
  </div>
  <div id="errmsg"></div>
  <div id="write_comment" class="addcomment">
    <form id="write_comments_form" action="/postcomment.do" method="post" name="comment_form">
      <p class="rating_title">Title<br><input id="review_title" name="title" class="input" type="text"></p>
      <!--<p class="rating">Rating<br>
        <img id="star1" src="/static/img/small_star_off.gif" onclick="setStars(1)" onmouseover="showStars(1)" onmouseout="showStars(0)">
        <img id="star2" src="/static/img/small_star_off.gif" onclick="setStars(2)" onmouseover="showStars(2)" onmouseout="showStars(0)">
        <img id="star3" src="/static/img/small_star_off.gif" onclick="setStars(3)" onmouseover="showStars(3)" onmouseout="showStars(0)">
        <img id="star4" src="/static/img/small_star_off.gif" onclick="setStars(4)" onmouseover="showStars(4)" onmouseout="showStars(0)">
        <img id="star5" src="/static/img/small_star_off.gif" onclick="setStars(5)" onmouseover="showStars(5)" onmouseout="showStars(0)">
        <span id="star_name" class="stars"></span>
      </p>
      -->
      <p class="comments" style="padding-top:10">Comments<br><textarea id="review_text" name="body" class="input textarea"></textarea></p>
      <p>Your name<br>
       <span id="nickname_span" class="black">
         <input id="nickname" name="nickname" value="{{ user.nickname|escape }}" class="input"> 
       </span>
       <input id="star_value" name="star_rating" value="0" type="hidden">
       <input name="app_id" value="{{app.key.id|escape}}" type="hidden">
        
      </p>
      <p>
        <input value="Post Comment" type="submit">&nbsp;
        <input value="Discard" onclick="clearReviewForm()" type="reset">
      </p>
      </form>
      <p style="padding:5px 0 5px 0">Please make sure your comments are useful and informative.</p>
     </div>
   <div id="cp_1">
     {% for c in comments %}
  
     <div class="comment">
       <p>
         <b>{{c.title|escape}}</b>&nbsp;&nbsp; 
        <!-- <span class="gray">
           <img src="/static/img/{{ c.rating }}-star-rating.png" alt="{{ app.avg_rating }} stars"/>
           &nbsp;-&nbsp;{{c.nickname|escape}} - {{c.created|date:"N d, Y"}}
         </span>-->
       </p>
       <p>{{c.body|escape}}</p>
     </div>
    {% endfor %}
   </div>
   <div id="pager">
   <table class="pager">
     <tr class="text">
       <td class="prevnext" style="padding-right:5px;">
         {% if prev %}
           <a href="{{app.GetLink}}&amp;start={{ prev }}">Previous</a>
         {% endif %}
       </td>
       <td class="prevnext">
         {% if next %}
           <a href="{{app.GetLink}}&amp;start={{ next }}">Next</a>
         {% endif %}
       </td>
     </tr>
   </table>
   </div>
    <div style="clear:left"></div>
</div> <!-- End Comments -->

{% include "backto.html" %}

</div> <!-- End Main content -->

{% endblock %}
