<div class="module" id="categories">
    <h3> Filter {{app_name|lower}}s</h3>
    <div>
    <br>
    By API type: <br>
    {% for api in apis %}
     <a href="/results?api={{api|escape}}">{{api}}</a>
    {% endfor %}
    <br><br>
    By Robots API version: <br>
     <a href="/results?api_v2=True">v2 (Suggested)</a>&nbsp;&nbsp;
     <a href="/results?api_v2=False">v1 (Deprecated)</a>
    <br><br>
    By Language: <br>
    {% for language in languages%} 
      <a href="/results?language={{language|escape}}">{{language}}</a>
    {% endfor %}
    <br><br>
    <a href="/results?google=True">By Google</a> <img src="http://groups.google.com/groups/img/blue_g.gif" align="absmiddle">
    <br><br>
    <a href="/results?topapps=True">Best Practices</a> <img src="static/img/icon_check.gif" align="absmiddle">
   </div>
</div>
<div class="clear">&nbsp;</div>
