<div class="module" id="categories">
    <h3> Filter {{app_name|lower}}s</h3>
    <div>
    <br>
    By API: <br>
    {% for api in apis %}
     <a href="/results?api={{api|escape}}">{{api}}</a>
    {% endfor %}
    <br><br>
    By Language: <br>
    {% for language in languages%} 
      <a href="/results?language={{language|escape}}">{{language}}</a>
    {% endfor %}
    <br><br>
    <a href="/results?google=True">By Google</a> <img src="http://groups.google.com/groups/img/blue_g.gif" align="absmiddle">
   </div>
</div>
<div class="clear">&nbsp;</div>
