
<ul>
  <li><a href="http://code.google.com/apis/wave/guide.html">Wave API Overview</a></li>
  <li><a href="https://services.google.com/fb/forms/wavesignupfordev/">Request Sandbox Access</a></li>
</ul> 


<div class="line"></div>
<ul>
  <li><h2><a href="http://code.google.com/apis/wave/extensions/">Extensions Overview</a></h2>
    <ul>
     
      <li>Robots API
        <ul>
          <li><a href="http://code.google.com/apis/wave/extensions/robots/index.html">Overview</a></li>
          <li>Java Client Library
            <ul>
              <li><a href="http://code.google.com/apis/wave/extensions/robots/java-tutorial.html">Tutorial</a></li>

              <li><a href="http://wave-robot-java-client.googlecode.com/svn/trunk/doc/index.html">Reference</a></li>
              <li><a href="http://code.google.com/p/wave-robot-java-client/downloads/list">Download</a></li>
            </ul>
          </li>
          <li>Python Client Library
            <ul>
              <li><a href="http://code.google.com/apis/wave/extensions/robots/python-tutorial.html">Tutorial</a></li>
              <li><a href="http://wave-robot-python-client.googlecode.com/svn/trunk/pydocs/index.html">Reference</a></li>

              <li><a href="http://code.google.com/p/wave-robot-python-client/downloads/list">Download</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>Gadgets API
        <ul>
          <li><a href="http://code.google.com/apis/wave/extensions/gadgets/guide.html">Tutorial</a></li>

          <li><a href="http://code.google.com/apis/wave/extensions/gadgets/reference.html">Reference</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

<div class="line"></div>
<ul>
  <li><h2><a href="http://code.google.com/apis/wave/embed/index.html">Wave Embed API</a></h2>

    <ul>
      <li><a href="http://code.google.com/apis/wave/embed/guide.html">Tutorial</a></li>
      <li><a href="http://code.google.com/apis/wave/embed/reference.html">Reference</a></li>
    </ul>
  </li>
</ul>

<div class="line"></div>
<ul>
  <li><h2>Wave Resources</h2>

    <ul>
      <li class="selected"><a href="http://wave-samples-gallery.appspot.com/">Samples Gallery</a></li>
      <li><a href="http://code.google.com/p/google-wave-resources/issues/list">Issue Tracker</a></li>
    </ul>
  </li>
</ul>

<div class="line"></div>
<div class="promo">
<p><a href="http://www.waveprotocol.org">WaveProtocol.org </a></p>

<p>Learn about the Google Wave Federation Protocol and get involved</p></div>


